PORT=3000
MONGOOSE_URL='mongodb+srv://ericsudhartio:shadowfiend2509@cluster0-o92dt.mongodb.net/The-Project?retryWrites=true&w=majority'
JWT_SECRET='INFINITE-FOX'
CLIENT_ID='904867272697-t7s7ivotjb94ks22q2aq2bihinfdhnt4.apps.googleusercontent.com'
GMAIL_MAIL='theprojectsapp@gmail.com'
GMAIL_PASS='hacktiv8Super'
CLOUD_BUCKET="theproject.dipaproject.online"
GCLOUD_PROJECT="theprojectinfinitefox"
KEYFILE_PATH=keyfile.json